@import "reset.css";
@import "fonts.css";

.wrapper {
	min-height: 100%;
	overflow: clip;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 0 15px;
}

.header {}

.page {}

.footer {}